body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Open Sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

@media (max-height: 700px) and (min-width: 720px) {
  .short-hide {
    display: none;
  }
}
div.ContentPart {
  display: block;
  margin: 0 0 30px;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0;
}

p, ul, ol, table, pre, dl {
  margin:0 0;
}

p.SectionTitle {
  color: #222;
  margin:0 0 10px 0;
  font-size: 24px;
	font-weight:600;
	line-height:1.2;
}

p.Institute, p.Title {
  color: #333;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
}

p.Duration {
  margin-top: 0px;
  font-weight: 300;
  margin-bottom: 3px;
  font-size: small;
}

p.subInstitute {
    margin-bottom: 0;
}

p.JobDescription {
    margin-top: 5px;
    margin-bottom: 3px;
}

ul.JobDescription {
    margin-bottom: 10px;
}

p.instituteIntro {
    font-size: small;
    font-weight: 300;
}

p.Subcontent {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
}

p.ReturnToTop {
  float: right;
  display: none;
}

div.ContentPart:hover p.ReturnToTop {
  display: block;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
  top: 20px;
  -webkit-font-smoothing:subpixel-antialiased;
}

header p {
    margin: 5px 0;
}

header ul {
  list-style:none;
  padding:0;
  background: #f4f4f4;
  border:1px solid #e0e0e0;
  width:270px;
}

header li {
  height:20px;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:13px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:4px;
}

header ul a:hover {
  color:#999;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:20px;
  -webkit-font-smoothing:subpixel-antialiased;
  background: rbga(255,255,255,0.8);
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  header ul a {
    padding-top:14px;
  }
  
  header li {
    height: 40px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0px;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

.hide {
    display: none;
}

.emphi {
    color: brown;
}

.emphi:hover {
    font-size: 140%;
}


tr>td {
    width: 80px;
}

tr {
    width: 200px;
}

table {
  width: 80%;
}

ul > li {
    list-style-position: outside;
    margin-left: -15pt;
}